In [1]:
new_dict = dict(name='john' , age=19, hometown='Phoenix')
print(new_dict)

{'name': 'john', 'age': 19, 'hometown': 'Phoenix'}

In [3]:
dictionary = dict([(1, 'John'), (2, "Andrew")])
print(dictionary)

{1: 'John', 2: 'Andrew'}

In [5]:
oldest_sister = dict(name='Angela', age=60, hometown='Basseterre')
print(oldest_sister)

{'name': 'Angela', 'age': 60, 'hometown': 'Basseterre'}

In [6]:
second_oldest = dict(name='Alice', age=53, hometown='Basseterre')
print(second_oldest)

{'name': 'Alice', 'age': 53, 'hometown': 'Basseterre'}

In [8]:
third_oldest = dict(name='Wanda', age=52, hometown='Basseterre')
print(third_oldest)

{'name': 'Wanda', 'age': 52, 'hometown': 'Basseterre'}

In [9]:
youngest = dict(name='Samanta', age=34, hometown='Rio Piedras')
print(youngest)

{'name': 'Samanta', 'age': 34, 'hometown': 'Rio Piedras'}

In [11]:
sisters = dict([(1, 'Angela'), (2, 'Alice'), (3, 'Wanda'), (4, 'Samanta')])
print(sisters)

{1: 'Angela', 2: 'Alice', 3: 'Wanda', 4: 'Samanta'}

In [13]:
favorite_sister = {
'first_name': 'Alice',
'last_name': 'Francis',
'phone_number': '(869)123-4567',
'current_location': 'St. Kitts'
}
print(favotite_sister)

NameError: name 'favotite_sister' is not defined

In [14]:
contact = {
    'first_name': 'Henry',
    'last_name': 'Poldark',
    'phone_number': '(123)-456-7890',
    'street': 'N 90th St',
    'city': 'Scottsdale',
    'state': 'Arizona',
    'zip_code': '85258'
}

In [15]:
person = {'name': 'Andrew', 'age': 29, 'city': 'Scottsdale', 'state': 'AZ'}
print(person['name'])
print(person['age'])

Andrew
29

In [16]:
student = {'name': 'Andrew', 'program': 'Software Development', 'id': 110272}
the_keys = student.keys()
print(the_keys)

dict_keys(['name', 'program', 'id'])

In [17]:
student = {'name': 'Andrew', 'program': 'Software Development', 'id': 110272}
values = student.values()
print(values)

dict_values(['Andrew', 'Software Development', 110272])

In [18]:
student = {'name': 'Andrew', 'program': 'Software Development', 'id': 110272}
print(student.items())

dict_items([('name', 'Andrew'), ('program', 'Software Development'), ('id', 110272)])

In [19]:
contact = {'name': 'Andrew', 'occupation': 'Software Engineer'}

print("Name : ", contact.get('name'))
print("Occupation : ", contact.get('occupation'))
print("Salary : ", contact.get('salary'))
print("Address : ", contact.get('address', "I live in a box"))

Name :  Andrew
Occupation :  Software Engineer
Salary :  None
Address :  I live in a box

In [1]:
address = {'state': 'AZ', 'city': 'Scottsdale'}
address['street'] = 'N 90th St'

In [2]:
address = {'state': 'AZ', 'city': 'Scottsdale', 'street': 'N 90th St'}

address['state'] = 'Arizona'

In [3]:
# the contact dictionary
contact = {
    'first_name': 'Andrew',
    'last_name': 'Stefanik',
    'phone_number': '(123)-456-7890',
    'street': 'N 90th St',
    'city': 'Scottsdale',
    'state': 'Arizona',
    'zip_code': '85258'
}

# remove the `phone_number` from `contact`
del contact['phone_number']

print(contact)

{'first_name': 'Andrew', 'last_name': 'Stefanik', 'street': 'N 90th St', 'city': 'Scottsdale', 'state': 'Arizona', 'zip_code': '85258'}

In [4]:
contact = {
    'first_name': 'Andrew',
    'last_name': 'Stefanik',
}

# deletes the entire dictionary
del contact

In [5]:
user = {'name': 'Andrew', 'email': 'andrew@email.com', 'username': 'andrewUser'}

for key, value in user.items():
    print("Key =", key, "\tValue =", value)

Key = name 	Value = Andrew
Key = email 	Value = andrew@email.com
Key = username 	Value = andrewUser

In [6]:
user = {'name': 'Andrew', 'email': 'andrew@email.com', 'username': 'andrewUser'}

for key in user.keys():
    print("Key =", key, "\tValue =", user[key])

Key = name 	Value = Andrew
Key = email 	Value = andrew@email.com
Key = username 	Value = andrewUser

In [7]:
user = {'name': 'Andrew', 'email': 'andrew@email.com', 'username': 'andrewUser'}

for value in user.values():
    print("Value =", value)

Value = Andrew
Value = andrew@email.com
Value = andrewUser

In [8]:
contact_0 = {'name': 'Andrew', 'phone': '(123)-222-2325'}
contact_1 = {'name': 'Mike', 'phone': '(113)-452-9825'}
contact_2 = {'name': 'David', 'phone': '(323)-933-2054'}
address_book = [contact_0, contact_1, contact_2]
for contact in address_book:
    print(contact)

{'name': 'Andrew', 'phone': '(123)-222-2325'}
{'name': 'Mike', 'phone': '(113)-452-9825'}
{'name': 'David', 'phone': '(323)-933-2054'}

In [9]:
contact = {'name': 'Andrew', 'phone': '(123)-222-2325'}
address = {'street': '123 Tuple St', 'city': 'Scottsdale', 'state': 'AZ'}

# add `address` dictionary to `contact` dictionary
# with key 'address'
contact['address'] = address
print(contact)

{'name': 'Andrew', 'phone': '(123)-222-2325', 'address': {'street': '123 Tuple St', 'city': 'Scottsdale', 'state': 'AZ'}}

In [10]:
people = {
    'person1': {
        'name': 'Sally Sue',
        'city': 'Phoenix'
    },
    'person2': {
        'name': 'Billy Bob',
        'city': 'Scottsdale'
    },
    'person3': {
        'name': 'Rover',
        'city': 'Zappa'
    }
}
greetings = []
for person in people.values():
    greeting = "Hello " + person['name'] + " from " + person['city']
    greetings.append(greeting)

In [11]:
pets_name = {'type': 'cat', 'color': 'White and Black', 'Nickname': 'Birchy', 'Owner': 'Kurt'}
pets_name = {'type': 'cat', 'color': 'Tortoise Shell', 'Nickname': 'Palnut', 'Owner': 'Olivia'}

for key in pets_name.keys():
    print("Key =", key, "\tValue =", pets_name[key])

Key = type 	Value = cat
Key = color 	Value = Tortoise Shell
Key = Nickname 	Value = Palnut
Key = Owner 	Value = Olivia

In [13]:
england = {'Capital': 'London'},
france = {'Capital': 'Paris'},
belgium = {'Capital': 'Brussels'}

england['Population'] = '53.01 million'
france['Population'] = '66.9 million'
belgium['population'] = '11.35 million'

print(england)
print(france)
print(belgium)

TypeError: 'tuple' object does not support item assignment

In [4]:
pizza_order = {
    'Customer': {
        'name': 'Andrew' ,
        'size pizza': 'small',
        'crust': 'thin-crust', 
        'topping': 'extra cheese', 'sausage', 'bacon'
    } 
}

thank_you = []
for Customer in pizza_order.values():
    thank_you= "Thank you for your order " + Customer['name'] + " from " + pizza size['small'] + " from " + crust['thin-crust'] + " from " + toppings['extra cheese', 'sausage', 'bacon']
    thank_you.append(thank_you)

SyntaxError: ':' expected after dictionary key (848134882.py, line 6)