In [10]:
import pandas as pd

In [12]:
df = pd.read_csv(r"C:\Users\minel\OneDrive\Documents\Entity Coursework\BisonTracking.csv")

In [14]:
df.head(7)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7

In [15]:
df.tail(10)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

In [16]:
len(df)

1107

In [17]:
len(df.columns)

5

In [37]:
data = pd.read_csv({'species' : [antiquus]})

NameError: name 'antiquus' is not defined

In [40]:
df.mean()

C:\Users\minel\AppData\Local\Temp\ipykernel_10844\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Length    7.98103
dtype: float64