In [5]:
import pandas as pd

In [ ]:
fake$StoryType = " "
FakeNews1 <- FakeNews[, 2:4]

In [ ]:
library("tidyr")
FakeNews2 <- separate(FakeNews1, url, c("Website", "Domain"), sep="_")

In [ ]:
FakeNews3 <- unite(FakeNews2, FullSiteName, Website, Domain, sep = "_")

In [ ]:
FakeNews4 <- FakeNews3[1:10,]

In [6]:
import pandas as pd

FakeNews = pd.read_excel('C:\Users\minel\OneDrive\Documents\Entity Coursework\DS109 Python\DSO104C (Jul 11 - Jul 31)\Lesson 1')
FakeNews.head()

#Add a column labeled StoryType and fill it with Fake

FakeNews['StoryType'] = "Fake"
FakeNews.head()

#Remove the when column

FakeNews.drop(['when'], axis=1, inplace=True)
FakeNews.head()

#Separate the URL column into Website and Domain

FakeNews1 = FakeNews['url'].str.split('_', expand=True).rename(columns = lambda x: "URL"+str(x+1))
FakeNews1.head()

FakeNews2 = pd.concat([FakeNews, FakeNews1], axis=1)
FakeNews2.head()

FakeNews2.drop(['url'], axis=1, inplace=True)
FakeNews2.head()

#Put back together the domain column

FakeNews2['url'] = FakeNews2["URL1"] + "_" + FakeNews2["URL2"].map(str)
FakeNews2.head()

FakeNews2.drop(['URL1', 'URL2'], axis=1, inplace=True)
FakeNews2.head()

#Keep only the first ten rows of the data
FakeNews3 = FakeNews2[:10]
FakeNews3

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1598597037.py, line 3)