In [1]:
my_message = "Split these words for me"
split_at_spaces = my_message.split()

In [2]:
another_variable = "Hello world"
my_list = ["String", 3, 7.5, another_variable]

print(my_list)

['String', 3, 7.5, 'Hello world']

In [3]:
planets = ['Earth', 'Mars', 'Saturn', 'Venus']
print(planets)

['Earth', 'Mars', 'Saturn', 'Venus']

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
alphabets = ["a", "b","c", "d",]
print(alphabets)

['a', 'b', 'c', 'd']

In [8]:
sisters = ["Angela", "Arlene", "Diane", "Samanta"]
print(sisters)

['Angela', 'Arlene', 'Diane', 'Samanta']

In [9]:
nieces = ["Janelle", "Nicole", "Alyssa", "Jaydia", "Jennay", "Ma'Loni"]
print(nieces)

['Janelle', 'Nicole', 'Alyssa', 'Jaydia', 'Jennay', "Ma'Loni"]

In [10]:
nephews = ["Charles", "Travis", "Marcus"]
print(nephews)

['Charles', 'Travis', 'Marcus']

In [11]:
our_world = ['Earth', ['United States', 'Canada', 'Mexico'], [1, 2, 3]]
print(our_world)

['Earth', ['United States', 'Canada', 'Mexico'], [1, 2, 3]]

In [12]:
my_empty_list = []

In [13]:
my_tuple = ('doctor', 'nurse', 'PA')
print(my_tuple)

('doctor', 'nurse', 'PA')

In [14]:
empty_tuple = ()

In [15]:
one_item_tuple = ('just me',)
print(one_item_tuple)

('just me',)

In [16]:
# you've already seen a string tuple
string_tuple = ("this", "contains", "string", "values")

# you can, of course, create tuples with numbers
number_tuple = (23, 23.5, 9, 144)

# like lists, you can create tuples with a mix of types
mixed_tuple = ("Bob", 33, "Sally", 29, "Spike", 8)

In [17]:
colors_list = ['red', 'green', 'blue', 'yellow']
num_colors = len(colors_list)
print(num_colors)

4

In [18]:
# print the third item of the list
colors_list = ['red', 'green', 'blue', 'yellow']
print(colors_list[2])

blue

In [19]:
# print the second item of the tuple
numbers_tuple = (22, 33, 44, 55)
print(numbers_tuple[1])

33

In [20]:
# print the last item of the list
colors_list = ['red', 'green', 'blue', 'yellow']
print(colors_list[-1])

# print the last item of the tuple
numbers_tuple = (22, 33, 44, 55)
print(numbers_tuple[-1])

yellow
55

In [21]:
colors_list = ['red', 'green', 'blue', 'yellow']

# access the last item with index `-1`
first_from_end = colors_list[-1]

# access the next-to-last item with index `-2`
second_from_end = colors_list[-2]

# access the second from the last item with index `-3`
third_from_end = colors_list[-3]

print(first_from_end)
print(second_from_end)
print(third_from_end)

yellow
blue
green

In [22]:
colors_list = ['red', 'green', 'blue', 'yellow']

# get the first three items
first_three_items = colors_list[0:3]

# get the middle two items
middle_two_items = colors_list[1:3]

print(first_three_items)
print(middle_two_items)

['red', 'green', 'blue']
['green', 'blue']

In [23]:
# the starting list
contacts = ['Sally', 'Bob', 'Mary', 'Steven']

# Bob prefers to go by "Robert"
# Bob is at index 1 in the list
contacts[1] = "Robert"

print(contacts)

['Sally', 'Robert', 'Mary', 'Steven']

In [24]:
colors_list = ['white', 'white', 'white', 'white']
print(colors_list)

colors_list[0] = 'red'
colors_list[1] = 'green'
colors_list[2] = 'blue'
colors_list[3] = 'yellow'
print(colors_list)

colors_list[-1] = 'purple'
print(colors_list)

['white', 'white', 'white', 'white']
['red', 'green', 'blue', 'yellow']
['red', 'green', 'blue', 'purple']

In [25]:
my_string = "Hello there Bob"

# splits string into list using space as the delimiter/separator
my_string_items = my_string.split()
print(my_string_items)

# but we forgot Sally!
# add 'and' and 'Sally' to the list
my_string_items.append("and")
my_string_items.append("Sally")

print(my_string_items)

['Hello', 'there', 'Bob']
['Hello', 'there', 'Bob', 'and', 'Sally']

In [26]:
numbers = [1, 2, 3, 4, 5]

# add 6 to the end
numbers.append(6)

# add 'seven' to the end
numbers.append('seven')
print(numbers)

[1, 2, 3, 4, 5, 6, 'seven']

In [27]:
numbers = [1, 2, 3, 4]

# delete item at index 2
del numbers[2]
print(numbers)

[1, 2, 4]

In [28]:
# delete the first item
del numbers[0]
print(numbers)

# delete the last item
del numbers[-1]
print(numbers)

[2, 4]
[2]

In [29]:
colors = ['red', 'blue', 'yellow', 'green']
colors.remove('yellow')
print(colors)

['red', 'blue', 'green']

In [30]:
colors = ['red', 'blue', 'red', 'green']
colors.remove('red')
print(colors)

['blue', 'red', 'green']

In [31]:
my_string = "Hello there Bob"

# splits string into list using space as the delimiter/separator
my_string_items = my_string.split()
print(my_string_items)

# but we forgot Sally!
# add 'and' and 'Sally' to the list
my_string_items.append("and")
my_string_items.append("Sally")

print(my_string_items)

['Hello', 'there', 'Bob']
['Hello', 'there', 'Bob', 'and', 'Sally']

In [32]:
# the starting list
contacts = ['Sally', 'Bob', 'Mary', 'Steven']

# Bob prefers to go by "Robert"
# Bob is at index 1 in the list
contacts[1] = "Robert"

print(contacts)

['Sally', 'Robert', 'Mary', 'Steven']

In [37]:
colors = ['green', 'white', 'green', 'yellw', 'yellw', 'white']
colors[3] = "yellow"
print(colors)

['green', 'white', 'green', 'yellow', 'yellw', 'white']

In [1]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
the_range = range(1, 11)
numbers = list(the_range)

In [3]:
no_start_range = range(5)
numbers = list(no_start_range)
print(numbers)

[0, 1, 2, 3, 4]

In [4]:
inc_by_2_range = range(2, 11, 2)
numbers = list(inc_by_2_range)
print(numbers)

[2, 4, 6, 8, 10]

In [5]:
inc_by_10_range = range(0, 101, 10)
numbers = list(inc_by_10_range)
print(numbers)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [6]:
numbers = [2, 6, 3, 9, 1, 10]
strings = ['dog', 'cat', 'bird']

#sort numerically
numbers.sort()

# sort alphabetically
strings.sort()

print(numbers)
print(strings)

[1, 2, 3, 6, 9, 10]
['bird', 'cat', 'dog']

In [7]:
numbers = [2, 6, 3, 9, 1, 10]
numbers.sort(reverse=True)
print(numbers)

[10, 9, 6, 3, 2, 1]

In [8]:
numbers = [2, 6, 3, 9, 1, 10]

print("This is the original set of numbers: ")
print(numbers)

print("This is the sorted set of numbers: ")
print(sorted(numbers))

print("This is the original set of numbers again: ")
print(numbers)

This is the original set of numbers:
[2, 6, 3, 9, 1, 10]
This is the sorted set of numbers:
[1, 2, 3, 6, 9, 10]
This is the original set of numbers again:
[2, 6, 3, 9, 1, 10]

In [9]:
countries = ['USA', 'Canada', 'England', 'Ireland']
print(countries)

['USA', 'Canada', 'England', 'Ireland']

In [10]:
countries = ['USA', 'Canada', 'England', 'Ireland']

# loop through list of countries using `for` loop
for country in countries:
    print(country)

USA
Canada
England
Ireland

In [11]:
# 1. a list of numbers from 1-5
all_numbers = [1, 2, 3, 4, 5]

# 2. an empty list that will store even numbers
even_numbers = []

# 3. loop through `all_numbers` and add the even
# numbers to the `even_numbers` list
for the_number in all_numbers:
    # 4. if the number is even, add to `even_numbers`
    if the_number % 2 == 0:
        even_numbers.append(the_number)
    else:
        print("Ignoring the odd number: ", the_number)

# 5. print out `even_numbers`
print(even_numbers)

Ignoring the odd number:  1
Ignoring the odd number:  3
Ignoring the odd number:  5
[2, 4]

In [12]:
a_number = 1
while a_number <= 5:
  print(a_number)
  a_number += 1

1
2
3
4
5

In [13]:
all_numbers = [1, 2, 3, 4, 5]
even_numbers = []

# use a while loop to iterate over the list
current_position = 0
while current_position < len(all_numbers):
    the_number = all_numbers[current_position]
    if the_number % 2 == 0:
        even_numbers.append(the_number)
    else:
        print("Ignoring the odd number: ", the_number)
    current_position += 1

print(even_numbers)

Ignoring the odd number:  1
Ignoring the odd number:  3
Ignoring the odd number:  5
[2, 4]

In [14]:
for letter in "Sally":
  if letter == "l":
    break
  print("Current letter: " + letter)

print("The loop is over.")

Current letter: S
Current letter: a
The loop is over.

In [15]:
a_number = 7

while a_number > 0:
    print("Current number value is:", a_number)
    a_number -= 1
    if a_number == 4:
        break

print("The loop is over.")

Current number value is: 7
Current number value is: 6
Current number value is: 5
The loop is over.

In [16]:
everyone = ['Sally', 'Billy', 'Mary', 'Bob']
looking_for = 'Mary'

for person in everyone:
    if person != looking_for:
        continue
    print("Found " + looking_for + "!")

Found Mary!

In [17]:
list_of_names = ['Kurt', 'David', 'Katherine']

for name in list_of_names:
    print("Where is " + name + " today?")

Where is Kurt today?
Where is David today?
Where is Katherine today?

In [18]:
my_favorite_cars = ["BMW", "Toyota", "Mazda"]
my_favorite_flowers = ["Rose", "Sunflower", "Tulip", "Daisy"]
my_favorite_animals = ["Cat", "Dog", "Giraffe", "Elephant", "Lion"]

my_favorite_things = my_favorite_cars + my_favorite_flowers + my_favorite_animals

for thing in my_favorite_things:
    if len(thing) % 2 == 0:
        print(thing)

Toyota
Rose
Elephant
Lion

In [19]:
number_range = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

for number in number_range:
    if number % 3 == 0 and number % 5 == 0:
        print('ZipZap')
    elif number % 3 == 0:
        print('Zip')
    elif number % 5 == 0:
        print('Zap')
    else:
        print(number)

1
2
Zip
4
Zap
Zip
7
8
Zip
Zap
11
Zip
13
14
ZipZap
16
17
Zip
19
Zap